@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap");

* {
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b8b0b8;
  font-family: "Poppins", sans-serif;
  color: #464646;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

#banner_inicial {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#logomarca {
  max-width: 70%;
  justify-self: center;
  align-self: center;
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}

#banner_patinhas {
  max-width: 100%;
  grid-row: 1 / 4;
  grid-column: 1 / 5;
}

.imagem-principal{
  max-width: 100%;
}

.servicos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #470047;
  color:#b8b0b8;
  align-items: center;
  height: 300px;
  padding-left: 2%;
}
figcaption{
  font-size: small;
}
figure img{
  max-width: 110%;
  border-radius: 10px;
  transition: transform .2s;
}
figure img:hover{
  transform: scale(1.15);
}

.navegador{
  background-color: #470047;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5%;
  margin-right: 10%;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #b8b0b8;
}

footer {
  text-align: center;
  padding: .5%;
  font-size: small;
  background-color: #dbdbdb;
}
.cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contato{
  display: flex;
  flex-direction: column;
  max-width: 20%;
}
.botoes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.botoes a{
  transition: transform .2s;
}
.botoes a:hover{
  transform: scale(1.5);
}

/* Estilo da página de login */

form {
  width: 40%;
  height: 90%;
  border: 1px solid #dbdbdb;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input {
  margin: 1%;
  width: 200px;
  border-radius: 4px;
  padding: 4px;
}

button {
  background-color: #470047;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  align-content: center;
  margin: 3%;
}

button:hover {
  background-color: #6c066c;
}

h1 {
  margin: 3%;
  color: #470047;
}
